form{
    background-color: skyblue;
    width: 50%;
    margin: auto;
    padding: 30px;
}
.first{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
input[type=text],input[type=date],input[type=file],input[type=email],input[type=textarea]{
    width: 70%;
    height: 40px;
}
label{
    width: 25%;
    margin-right: 5px;
}
fieldset{
    border: 2px solid salmon;

}
input[type=text]:focus,input[type=date]:focus,input[type=file]:focus,input[type=email]:focus,input[type=textarea]:focus{
    background-color: navajowhite;
}



